//*dark mode
$dark-mode: #050505;
$dark-mode-main-text: #fff;
$dark-mode-search-bar: #1f1f1f;
$dark-mode-divider: #3a3a3a;

//*light mode
$light-mode: #fff;
$light-mode-main-text: #2d2d2d;
$light-mode-search-bar: #f4f4f4;
$light-mode-divider: #e9e9e9;

//*all modes
$all-mode-secondary-text: #757575;
$all-accent-color: #a445ed;
$all-error-color: #ff5252;
$all-divider-color: #d6d6d6;

//*fonts
$mono-font: "Inconsolata", monospace;
$sans-serif-font: sans-serif;
$serif-font: serif;
$bold: 700;
$regular: 400;
